
<div id="lightgallery">

<% @photos.each do |pic|%>
  <% if @counter % 10 == 1 and @photos.length - @counter > 4 %>
    <div id="counter-<%=@counter%>" class="ptiles" <% if @counter != 1 %> style="display:none;"<% end %>>
      <div class="items">
  <% end %>

    <div class="item" data-src="/<%=pic['pic_link']%>">
      <img class="pic" src="/<%=pic['pic_link']%>">
    </div>

  <% if @counter % 10 == 0 and @photos.length - @counter > 5 %>
      </div>
    <%=@counter%><a href="#" onclick="return showPage(this, <%=@counter%>);">next</a>
    </div>
  <% end %>

  <% @counter += 1 %>
<% end %>
</div>


  <script>
    $(function() {
      $("#counter-1").tilesGallery({
          height: 800,
          margin: 3,
          enableTwitter: true,
          enableFacebook: true,
          enableGplus: false,
          enablePinterest: true
      });

      $("#lightgallery").lightGallery({
        selector: '.ptiles > .items > .item'
      });
    });

    function showPage(el, image_num) {
      $(el).parent().hide();
      $(el).parent().next().show();

      $(el).parent().next().first().tilesGallery({
          height: 800,
          margin: 3,
          enableTwitter: true,
          enableFacebook: true,
          enableGplus: false,
          enablePinterest: true
      });

      return false;
    }
  </script>
