<!DOCTYPE html>
<html>
  <head>
    <title>Taisiya Bo</title>
    <script type="text/javascript" src="/jquery.js"></script>
    <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/js/jquery.tilesgallery.js" type="text/javascript"></script>
    <script src="/myscripts.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/js/lg-fullscreen.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/js/lg-thumbnail.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/js/lightgallery-all.js"></script>
    <script src="https://use.fontawesome.com/886e6e746d.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="Stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,300i,500" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/css/lightgallery.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/css/lg-transitions.css" rel="stylesheet">
    <link href="/css/jquery-tilesgallery.css" rel="Stylesheet" />
    <link href="/mystyles.css" rel="stylesheet">
  </head>
<body>
    <div class="page">
      <div class="header">
        <div class="headerr">
          <span><h1><a href="/">Taisiya Bo</a></h1></span>
          <span class="h4"><a href="/">photoartist</a></span>
        </div>


        <span class="icons">
          <a href="/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="/"><i class="fa fa-vk" aria-hidden="true"></i></a>
          <a href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <div class="contacts">
            <div>phone 322-223-66</div>
            <div>email ololo@dot.com</div>
          </div>
          <div class="useroptions">
            <a href="/"><span>ru eng</span></a>
            <a href="/"><span class="cow"><i class="fa fa-camera-retro" aria-hidden="true"></i></span></a>
            <a href="/"><span class="cob"><i class="fa fa-camera-retro" aria-hidden="true"></i></span></a>

          </div>
        </span>
      </div>

      <div class="sidebar sidebar-pic">
<!--       <div class="mini-menu">
          <ul>
            <li class="sub">
                <a href="/gallery/faces">Faces</a>
                <ul>
                   <li><a href="#" >Kids</a></li>
                   <li><a href="#">Gentlemen</a></li>
                   <li class="sub"><a href="#">Ladies</a>
                       <ul>
                          <li><a href="#">Casual</a></li>
                          <li><a href="#">Sensual</a></li>
                          <li><a href="#">Fancy</a></li>
                       </ul>
                   </li>

                   <li><a href="#">Group portraits</a></li>
                </ul>
            </li>
            <li class="sub">
                <a href="/gallery/places">Places</a>
                <ul>
                   <li><a href="#">Nature</a></li>
                   <li><a href="#">Countries</a></li>
                   <li><a href="#">Sky</a></li>
                </ul>
            </li>
            <li class="sub">
                <a href="/gallery/events">Events</a>
                <ul>
                    <li><a href="#">Festivals and conferences</a></li>
                    <li><a href="#">Social dances</a></li>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Concerts</a></li>

                </ul>
            </li>
            <li class="sub">
                <a href="/gallery/closeup">Close up</a>
                <ul>
                    <li><a href="#">Flora</a></li>
                    <li><a href="#">Fauna</a></li>
                    <li><a href="#">And other things</a></li>
                </ul>
            </li>
            <li class="sub">
                <a href="/coaching">Coaching</a>
            </li>
            <li class="sub">
                <a href="/aboutme" >About me</a>
            </li>
          </ul>
        </div>-->
        <div class="mini-menu">
          <ul>
            <% @themes.each do |theme| %>
              <% if theme['parent_id'] == 0 %>
                <li class="sub">
                  <a href="/gallery/<%=theme['theme_link']%>"><%=theme['theme_name']%></a>
                    <ul>
                      <% @themes.each do |subtheme| %>
                        <% if subtheme['parent_id'] == theme['id'] %>
                          <li>
                            <a href="/gallery/<%=subtheme['theme_link']%>"><%=subtheme['theme_name']%></a>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                </li>
            <% end %>
          <% end %>
          </ul>
        </div>
        <ul class="sidebar-tags">
            <li><a href="/">place for tags</a></li>
        </ul>
      </div>
      <div class="gallery-container content">
            <%if @error && @error.length > 0 then %>
                <div><%=@error%></div>
            <% end %>
            <%= yield %>
        </div>
        <p style="clear:both;">
        </p>


</body>
</html>
