<div class="manage">
  <div class="manage-bg">

    <div class="add-photo">
      <span class="manage-headers">Add photo</span>
      <form action="/manage" class="form-inline" method="POST" enctype="multipart/form-data">
              <input type="file" class="form-control" name="file[]" multiple>
              <input type="submit" class="form-control" value="Upload image">
      </form>
    </div>


    <table class="table table-bordered table-photos">

      <% @photos.each do |pho|%>

      <tr>
        <td class="td-pho"><img src="/content/<%= pho['photo_link']%>" height="150px"/><a name="<%=pho['id']%>"></a></td>

                          <td>

<%=pho['id']%>
                          </td>

        <td class="td-ta">
            <form action="/edit_tags" method="post" class="form-inline ajax-form">
          <% @tags.each do |ta|%>
          <div  class="tags-chbx" ><label><input type="checkbox" name="tag_id[<%= ta['id'] %>]" value="<%= ta['id'] %>"/><%= ta['tag_name']%>  </label></div>

          <% end%>
          <input type="hidden" name="photo_id" value="<%= pho['id'] %>" />
          <button type="submit" class="btn btn-default btn-lg">add</button>
        </form>
          </td>

                  <td class="td-the">


                  </td>

      </tr>
      <% end %>
    </table>


  </div>
</div>

<script>
$(".ajax-form").each( function() {
  $(this).submit(function () {
    $.ajax({
      type: $(this).attr('method'),
      url: $(this).attr('action'),
      data: $(this).serialize()
    });
    return false;
  });
});
</script>
